__pycache__
PizSh
.vscode
test2.py
sushi_dodger.code-workspace
scoreboard.json
data.pod
Pico8-sushi_dodger
Pico8-sshi_dodger/2.8.2
Pico8-sshi_dodger/_sushi_dodger.exe
Pico8-sshi_dodger/_sushi_dodger.p8
Pico8-sshi_dodger/SDL2.dll
config.json
test.py
test.py
Assets/background_neon1.pdn
Assets/background_res_ase.aseprite
Assets/background_res1.pdn
Assets/blank.aseprite
Assets/button.aseprite
Assets/defeat_screen V2.pdn
Assets/defeat_screen_slidedown.pdn
Assets/defeat_screen.pdn
Assets/defeat_screenV3-1.aseprite
Assets/defeat_screenV3-2.aseprite
Assets/defeat_screenV3-3.aseprite
Assets/defeat_screenV3.aseprite
Assets/hourglass.pdn
Assets/item_sprites.aseprite
Assets/leaf.pdn
Assets/menu_background.aseprite
Assets/Menu_design.aseprite
Assets/Menu_design.pdn
Assets/missile.aseprite
Assets/score_screen1.aseprite
Assets/ship.aseprite
Assets/sushi_dodger_slidedown.pdn
Assets/x-button.aseprite
Assets/reserect-palette/resurrect-64.gpl
astar/astar.py
astar/astar256.py
astar/astar.py
astar/astar256.py
dstar/d-star-lite
dstar/d-star-lite
other/circle_test.py
other/packages.txt
other/pizza_shop.py
other/scaling_custom.py
other/circle_test.py
other/packages.txt
other/pizza_shop.py
other/scaling_custom.py
grid_values.py
keyboard-shortcuts-windows.pdf
sushi_dodger.spec
test.py
Assets/background_neon1.pdn
Assets/background_res_ase.aseprite
Assets/background_res1.pdn
Assets/blank.aseprite
Assets/button.aseprite
Assets/defeat_screen V2.pdn
Assets/defeat_screen_slidedown.pdn
Assets/defeat_screen.pdn
Assets/defeat_screenV3-1.aseprite
Assets/defeat_screenV3-2.aseprite
Assets/defeat_screenV3-3.aseprite
Assets/defeat_screenV3.aseprite
Assets/hourglass.pdn
Assets/item_sprites.aseprite
Assets/leaf.pdn
Assets/menu_background.aseprite
Assets/Menu_design.aseprite
Assets/Menu_design.pdn
Assets/missile.aseprite
Assets/score_screen1.aseprite
Assets/ship.aseprite
Assets/sushi_dodger_slidedown.pdn
Assets/x-button.aseprite
Assets/reserect-palette/resurrect-64.gpl
Assets/reserect-palette/resurrect-64.gpl
Assets/reserect-palette/resurrect-64.gpl
Assets/background_neon1.pdn
Assets/background_res_ase.aseprite
Assets/background_res1.pdn
Assets/blank.aseprite
Assets/button.aseprite
Assets/defeat_screen V2.pdn
Assets/defeat_screen_slidedown.pdn
Assets/defeat_screen.pdn
Assets/defeat_screenV3-1.aseprite
Assets/defeat_screenV3-2.aseprite
Assets/defeat_screenV3-3.aseprite
Assets/defeat_screenV3.aseprite
Assets/hourglass.pdn
Assets/item_sprites.aseprite
Assets/leaf.pdn
Assets/menu_background.aseprite
Assets/Menu_design.aseprite
Assets/Menu_design.pdn
Assets/missile.aseprite
Assets/score_screen1.aseprite
Assets/ship.aseprite
Assets/sushi_dodger_slidedown.pdn
Assets/x-button.aseprite
astar/astar.py
astar/astar256.py
astar/astar.py
astar/astar256.py
other/circle_test.py
other/packages.txt
other/pizza_shop.py
other/scaling_custom.py
other/circle_test.py
other/packages.txt
other/pizza_shop.py
other/scaling_custom.py
grid_values.py
keyboard-shortcuts-windows.pdf
sshi_special.py
sushi_dodger.spec
scoreboard.json1
