__pycache__
PizSh
.vscode
test2.py
sushi_dodger.code-workspace
scoreboard.json
data.pod
Pico8-sushi_dodger
Pico8-sshi_dodger/2.8.2
Pico8-sshi_dodger/mw_sushi_dodger.exe
Pico8-sshi_dodger/MW_sushi_dodger.p8
Pico8-sshi_dodger/SDL2.dll
config.json
test.py
